decl-class-gen/src/main/resources/schema/orm.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://java.sun.com/xml/ns/persistence/orm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entity-mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="package" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="entity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="table">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="named-native-queries">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="named-native-query">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="query" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="id">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="column">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="length" type="xs:unsignedByte" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="generated-value">
                            <xs:complexType>
                              <xs:attribute name="strategy" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="basic">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="column">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="length" type="xs:unsignedShort" use="optional" />
                              <xs:attribute name="nullable" type="xs:boolean" use="optional" />
                              <xs:attribute name="insertable" type="xs:boolean" use="optional" />
                              <xs:attribute name="updatable" type="xs:boolean" use="optional" />
                              <xs:attribute name="precision" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="scale" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="check" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="class" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>